* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "asse 5";
    src: url('../fonts/asse5.ttf');
}

@font-face {
    font-family: "asse 11";
    src: url('../fonts/asse11.ttf');
}

@font-face {
    font-family: "asse 6";
    src: url('../fonts/asse6.ttf');
}


html {
    scroll-behavior: smooth;
    font-size: 100%;
}





/*----- body -----*/

body {
    position: relative;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    background-color: rgb(245,245,245);
}

body::-webkit-scrollbar {
    display: none;
}


.noscroll {
    overflow: hidden;
}




/*----- pages & frame -----*/

.pages {
    position: relative;
    display: flex;
    margin-top: 300px;
    margin-bottom: 180px;
    justify-content: center;
}

.frame {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-left: 60px;
    margin-right: 60px;
}




/*----- navigation -----*/

.navi {
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: column;
    z-index: 1;
}

.navi-bar {
    position: relative;
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.90);
}

.navi-elements {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navi-header {
    position: relative;    
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.navi-links {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    display: ;
}

.navi-burger {
    position: relative;
    display: flex;
    align-items: center;
    height: 28px;
    display: none;
}

.menu {
    display: none;
    background-color: rgba(0, 0, 0, 0.90)
}

.menu-overlay {
    position: relative;
    display: flex;
    justify-content: center;
}

.burger-links {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.chapter {
    display: none;
}




/*----- menu -----*/







/*----- burger 
rgb(129, 236, 236)-----*/

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    height: 18px;
    width: 21px;
    cursor: pointer;
}

.menu-burger {
    width: 100%;
    height: 3px;
    background-color: white;
}

.menu-burger::before,
.menu-burger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
}

.menu-burger {
    transform: translateY(7.5px);
}

.menu-burger::before {
    transform: translateY(-7.5px);
}

.menu-burger::after {
    transform: translateY(7.5px);
}

.menu-btn.open .menu-burger {
    animation-name: ani-middle-for;
    animation-duration: 0.6s;
    visibility: hidden;
}

.menu-btn.open .menu-burger::before {
    animation-name: ani-top-for;
    animation-duration: 0.6s;
    transform: rotate(-45deg);
    background-color: rgb(255, 107, 129);
    visibility: visible;
}

.menu-btn.open .menu-burger::after {
    animation-name: ani-bottom-for;
    animation-duration: 0.6s;
    transform: rotate(45deg);
    background-color: rgb(255, 107, 129);
    visibility: visible;
}

@keyframes ani-top-for {
    0% {
        transform: translateY(-7.5px);
        background-color: white;
    }
    50% {
        transform: translateY(0px);
        background-color: white;
    }
    51% {
        transform: translateY(0px);
    }
    100% {
        transform: rotate(-45deg);
    }
}

@keyframes ani-bottom-for {
    0% {
        transform: translateY(7.5px);
        background-color: white;
    }
    50% {
        transform: translateY(0px);
        background-color: white;
    }
    51% {
        transform: translateY(0px);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes ani-middle-for {
    0% {
        visibility: visible;
    }
    50% {
        visibility: visible;
    }
    51% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}

.menu-btn.close .menu-burger {
    animation-name: ani-middle-back;
    background-color: white;
    animation-duration: 0.6s;
}

.menu-btn.close .menu-burger::before {
    animation-name: ani-top-back;
    animation-duration: 0.6s;
    background-color: white;
    visibility: visible;
}

.menu-btn.close .menu-burger::after {
    animation-name: ani-bottom-back;
    animation-duration: 0.6s;
    background-color: white;
    visibility: visible;
}

@keyframes ani-top-back {
    0% {
        transform: rotate(-45deg);
        background-color: rgb(255, 107, 129);
    }
    50% {
        transform: translateY(0px);
        background-color: rgb(255, 107, 129);
    }
    51% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-7.5px);
    }
}

@keyframes ani-bottom-back {
    0% {
        transform: rotate(45deg);
        background-color:rgb(255, 107, 129);
    }
    50% {
        transform: translateY(0px);
        background-color: rgb(255, 107, 129);
    }
    51% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(7.5px);
    }
}

@keyframes ani-middle-back {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    51% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
}









/*-----home-----*/

.home-grid {
    position: relative;
    display: grid;
    background-color: white;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border-radius: 4px;
    grid-template-areas:
    "a a a . . ."
    "a a a b b b"
    "a a a b b b"
    "a a a b b b";
}

.home-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 60px;
}

.home-box-a {
    grid-area: a;
    position: relative;
}

.home-box-b {
    grid-area: b;
    position: relative;
    padding-top: 100%;
}






/*----- about -----*/

.about {
    display: none;
}

.about-grid {
    position: relative;
    display: grid;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr, auto);
    grid-template-areas:
    "a a b"
    "c d e"
    "f g h";
}

.about-pic-grid {
    position: relative;
    display: grid;
    grid-column-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.about-info-grid {
    position: relative;
    display: grid;
    grid-column-gap: 60px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.about-box-a {
    grid-area: a;
    position: relative;
}

.about-box-b {
    grid-area: b;
    position: relative;
    transition: .3s ease;
    opacity: 1;
}

.about-box-c {
    grid-area: c;
    position: relative;
}

.about-box-d {
    grid-area: d;
    position: relative;
}

.about-box-e {
    grid-area: e;
    position: relative;
}

.about-box-f {
    grid-area: f;
    position: relative;
}

.about-box-g {
    grid-area: g;
    position: relative;
}

.about-box-b-overlay-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px;
    transition: .3s ease;
    opacity: 1;
    background-color: white;
}

.about-box-b-overlay-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px;
    transition: .3s ease;
    opacity: 0;
    background-color: black;
}

.about-box-b-overlay-3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    transition: .3s ease;
    opacity: 0;
}

.about-box-b:hover .about-box-b-overlay-2 {
    opacity: 1;
}

.about-box-b:hover .about-box-b-overlay-3 {
    opacity: 1;
}

.about-box-b:hover .projectlink {
    transform: translateY(0px);
    opacity: 1;
}

.projectlink :hover {
    color: white;
}




/*----- work -----*/

.work {
    display: none;
}

.work-grid {
    position: relative;
    display: grid;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.pic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-in-out;
}

.picer {    
    width: 100%;
    height: 100%;    
    object-fit: cover;
}

.img {
    position: relative;
    padding-top: 66.67%;
}

.comingsoon-pic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: .3s ease-in-out;
}

.text-overlay {
    position: relative;
    height: 100%;
    width: 100%;
}

.projectname {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: .3s ease-in-out;
    opacity: 0;
}

.projectlink {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: .3s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.comingsoon {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: .3s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
}

.box:hover .box-overlay {
    opacity: 1;
}

.box:hover .projectname {
    transform: translateY(0px);
    opacity: 1;
}

.box:hover .projectlink {
    transform: translateY(0px);
    opacity: 1;
}

.box:hover .comingsoon {
    transform: translateY(0px);
    opacity: 1;
}

.projectlink :hover {
    color: white;
}

.box:hover .pic {
    filter: blur(1.5px);
}




/*----- project -----*/


.project {
    display: none;
}

.project-pic{
    width: 100%;
    height: 100%;    
    object-fit: cover;
}

.project-text-grid{
    position: relative;
    display: grid;
    grid-column-gap: 120px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "a b";
}

.project-textbox {
    position: relative;
    display: flex;    
    flex-direction: row;
}

.project-textbox-a {    
    grid-area: a;
    width: 100%;
    position: relative;
    display: flex;    
    flex-direction: column;
    font-size: 30px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 36px;
    color: black;
}

.project-textbox-b {    
    grid-area: b;
    position: relative;
    display: flex;    
    flex-direction: column;
}

.project-gallery{
    position: relative;
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: repeat(9, 1fr);
}

.picbox {
    position: relative;
    display: flex;
    padding-top: 100%;
    cursor: pointer;
}




#project01 {
    display: none;
}

#project02 {
    display: none;
}

#project03 {
    display: none;
}

#project04 {
    display: none;
}

#project05 {
    display: none;
}

#project06 {
    display: none;
}

#project07 {
    display: none;
}

#project08 {
    display: none;
}

#project09 {
    display: none;
}

#project10 {
    display: none;
}

#project11 {
    display: none;
}

#project12 {
    display: none;
}




#project01Header {
    display: none;
}

#project02Header {
    display: none;
}

#project03Header {
    display: none;
}

#project04Header {
    display: none;
}

#project05Header {
    display: none;
}

#project06Header {
    display: none;
}

#project07Header {
    display: none;
}

#project08Header {
    display: none;
}

#project09Header {
    display: none;
}

#project10Header {
    display: none;
}

#project11Header {
    display: none;
}

#project12Header {
    display: none;
}




/*----- sketches -----*/

.sketches {
    display: none;
}




/*----- footer-----*/

.footer {
    position: relative;
    display: flex;
    height: 240px;
    justify-content: center;    
    background-color: rgba(0, 0, 0, 0.90);
}

.footer-grid {
    position: relative;
    display: grid;
    grid-row-gap: 32px;
    grid-template-areas:
    "a b"
    "c .";
}

.footer-box-a {
    grid-area: a;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer-box-b {
    grid-area: b;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.footer-box-c {
    grid-area: c;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logospace {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    transition: .3s ease-in-out;
}

.logo {    
    width: 20px;
    height: 20px;
    transition: .3s ease-in-out;
}

.logo-gap {
    width: 28px;
    height: 28px;
}

.bh:hover {
    background-color: rgb(5, 62, 255);
}

.xg:hover {
    background-color: rgb(18, 101, 103);
}

.ig:hover {
    background-color: rgb(193, 53, 132);
}

.yt:hover {
    background-color: red;
}




/*-----contact-----*/

.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    display: none;
}

/*-----legal notice-----*/

.legal {
    position: relative;
    display: flex;
    flex-direction: column;
    display: none;
}

/*-----data protection-----*/

.imp {
    position: relative;
    display: flex;
    flex-direction: column;
    display: none;
}




/*----- fonts-----*/

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

h4 a:hover {
    color: rgb(129, 236, 236);
}


h1 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 28px;
    color: white;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 28px;
    color: black;
}

h3 a {
    font-size: 20px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 28px;
    color: rgb(170, 170, 170);
}

h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 24px;
    color: black;
}

h5 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 28px;
    color: rgb(255, 107, 129);
}

h5 a {
    font-size: 20px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 28px;
    color: rgb(129, 236, 236);
}

h6 {
    font-size: 28px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 36px;
    color: black;
}

p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'asse 6';
    line-height: 24px;
    color: rgb(170, 170, 170);
}




/*----- gaps -----*/

.text-gap {
    width: 100%;
    height: 30px;
}

.footer-gap {
    width: 100%;
    height: 60px;
}

.outside-gap {
    width: 100%;
    height: 120px;
}

.inside-gap {
    width: 100%;
    height: 60px;
}

.menu-gap {
    width: 100%;
    height: 32px;
}

.link-gap {
    width: 32px;
    height: 16px ;
}

.big-gap {
    width: 100%;
    height: 80px;
}

.small-gap {
    width: 100%;
    height: 16px;
}

.header-gap {
    height: 6px;
}

.middle-gap {
    height: 48px;
}



/*responsive*/

@media only screen and (max-width: 630px) {

    

/*frames*/

.pages {
    margin-top: 198px;
    margin-bottom: 90px;
}

.frame {
    margin-left: 15px;
    margin-right: 15px;
}

.menu-gap {
    width: 100%;
    height: 30px;
}

.big-gap {
    width: 100%;
    height: 60px;
}

.inside-gap {
    width: 100%;
    height: 30px;
}

.outside-gap {
    width: 100%;
    height: 60px;
}


.footer-gap {
    width: 100%;
    height: 45px;
}

.link-gap {
    width: 32px;
    height: 32px ;
}




/*navi*/

.navi-bar {
    height: 100px;
}

.navi-links {
    display: none;
}

.navi-burger {
    display: flex;
}





/*legal notice*/






/*home*/

.home-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "a a a a"
    "a a a a"
    "a a a a"
    "a a a a"
    ". b b b"
    ". b b b"
    ". b b b";
}

.home-overlay {
    padding: 30px;
}




/*about*/

.about-grid {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "a a"
    "c c"
    "b b"
    "e e"
    "h h"
    "f f"
    "d d"
    "g g"
    "i i";
}

.about-pic-grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);    
    grid-template-rows: repeat(2, 1fr);
}

.about-info-grid {
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

.r {
    flex-direction: column;
    display: flex;
    align-items: center;
}




/*work*/

.work-grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
}

.project-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.box {
    padding-top: 66.66%;
}

.box-overlay {
    padding: 15px;
}

.projectlink {
    transform: translateY(30px);
}

.comingsoon {
    transform: translateY(30px);
}

.slideshow-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.slideshow-rotate-screen {
    display: flex;
}


/*project*/

.project-gallery{
    position: relative;
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    cursor: pointer;    
}

.project-text-grid{
    grid-row-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
    "a"
    "b";
}

.project-textbox-a {    
    grid-area: a;
    width: 100%;
    position: relative;
    display: flex;    
    flex-direction: column;
    font-size: 21px;
    font-weight: 500;
    font-family: 'asse 11';
    line-height: 24px;
    color: black;
}


   

/*footer*/


.footer {
    height: auto;
}

.footer-grid {
    grid-template-areas:
    "a"
    "b"
    "c";
}

.footer-box-b {
    flex-direction: column;
    align-items: flex-start;
}


@media only screen and (min-width: 631px) and (max-width: 950px) {

    .about-grid {
        grid-column-gap: 60px;
        grid-row-gap: 60px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "a a"
        "c c"
        "b b"
        "e d"
        "h g"
        "f i";
    }

    .about-pic-grid {
        grid-column-gap: 45px;
        grid-row-gap: 45px;
        grid-template-columns: repeat(2, 1fr);
    }

    .about-info-grid {
        grid-row-gap: 45px;
        grid-column-gap: 45px;
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-grid {
        grid-column-gap: 45px;
        grid-row-gap: 45px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "a a"
        "b c"
        "d e"
        "f g"
        "h h"
        "i .";
    }

    .message-grid{
        grid-column-gap: 45px;
        grid-row-gap: 45px;
        grid-template-columns: repeat(2, 1fr);
    }

    input[type=text] {
        padding-left: 15px;
        padding-right: 15px;
    }

}